# USER PID AND GID - dockerlimited
PUID=xxxx
PGID=xxxx

# NORDVPN
OPENVPN_USERNAME=xxxx
OPENVPN_PASSWORD=xxxx

# TIMEZONE
TZ=Europe/London

# FILEPATHS
DOCKER_PATH=/volume1/docker
MEDIA_PATH=/volumeUSB1/usbshare/media
TORRENT_PATH=/volumeUSB1/usbshare/torrents
COMPLETED_PATH=/volumeUSB1/usbshare/torrents/completed

# PLEX
PLEX_CLAIM=xxxx

# NGINX
DB_MYSQL_USER=xxxx
DB_MYSQL_PASSWORD=xxxx
MYSQL_ROOT_PASSWORD=xxxx
MYSQL_USER=xxxx
MYSQL_PASSWORD=xxxx